<ngx-spinner
[fullScreen] = "true"
size = "large"
color = "#ffc400"
bdColor = "rgba(0, 0, 0, 0.9)"
type="pacman"
>
<p style="color: white" > Carregando... </p>
</ngx-spinner>
<div id="layout" class="pure-g">
  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        <h1 class="content-subhead">Nossos Eventos</h1>
        <span style="color: red">{{errorMessage}}</span>
        <!-- A single blog post -->
        <section class="post" *ngIf="singleEventos">
          <header class="post-header">
            <img src="{{singleEventos.acf.link_image_eventos}}" alt="" class="single-post-image">
            <h2 class="post-title" [innerHTML]="singleEventos.title.rendered "></h2>
            <p class="post-meta">
              By <a href="#" target="_blank" class="post-author">Jefferson Sotto</a> Data
              <a routerLink="/posts">{{singleEventos.date | date:'short'}}</a>
            </p>
          </header>

          <div class="post-description">
            <p [innerHTML]="singleEventos.acf.descricao_do_evento">
            </p>
          </div>
        </section>
      </div>

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">

          <div class="pure-menu-item"><a href="http://github.com/jeffersontads" class="pure-menu-link"> Jefferson Github</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
