
<ngx-spinner
[fullScreen] = "true"
size = "large"
color = "#ffc400"
bdColor = "rgba(0, 0, 0, 0.8)"
type="pacman"
>
<p style="color: white" > Carregando... </p>
</ngx-spinner>

<div
id="layout"
class="pure-g"
infinite-scroll
(scrolled)="onScrollDown($event)"
(scrolledUp)="onScrollUp($event)">

>
  <div class="content pure-u-1 pure-u-md-3-4">
    <div>

      <!-- A wrapper for all the blog posts -->
      <div class="posts" *ngFor="let evento of eventos ">

        <h1 class="content-subhead">Eventos</h1>
        <h3 style="color:red; font-weight:bold; font-size: 30px">{{errorMessage}}</h3>
        <span style="color: #ffc400">{{evento.acf.data_hora_evento}}</span>

        <!-- A single blog post -->
        <section class="post">
          <header class="post-header">
            <h2 class="post-title">{{evento.title.rendered}}</h2>
            <p class="post-meta">
              By <a href="#" target="_blank" class="post-author">Jefferson Sotto</a> Data
              <!-- data:short deixa a data mais amigavel quando pegamos direto do wp -->
              <span> {{evento.date | date:'short'}}</span>
            </p>
          </header>

          <div class="post-description">
            slice delimata a quantidade de caracteres dentro deste paragrafo
            <p [innerHtml]="evento.acf.resumo_do_evento | slice: 0:150"> </p>
            <button [routerLink] ="['/posts', evento.id]" class="btn btn-primary" type="button">Leia mais..</button>
          </div>
        </section>
      </div>
      <section class="post">

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li (click)="previous()" class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li (click)="next()" class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </section>
      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">

          <div class="pure-menu-item"><a href="http://github.com/jeffersontads" class="pure-menu-link"> Jefferson Github</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
