<ngx-spinner
  [fullScreen]="true"
  size="large"
  color="#5679ec"
  bdColor="rgba(0, 0, 0, 0.8)"
  type="pacman"
>
  <p style="color: white">Carregando...</p>
</ngx-spinner>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div
  id="layout"
  class="pure-g"
  infinite-scroll
  (scrolled)="onScrollDown($event)"
  (scrolledUp)="onScrollUp($event)"
>
  <!-- MODELOS PARA NOVOS CARDS DA PÁGINA -->
  <section class="post cards">
    <div class="card">
      <div class="cicle" style="--clr: #f40103">
        <img
          src="../../../assets/images/logo/cocacola_logo_2.png"
          alt="logotipo da coca"
          class="logo"
        />
      </div>

      <div class="content">
        <h2 class="card-title">Ecommerces</h2>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quod
          necessitatibus molestias. At expedita illo optio ipsa recusandae
          accusantium ut ipsam in a, minus, mollitia, animi eaque aspernatur vel
          suscipit?
        </p>
        <a href="#">Explorar</a>
      </div>
      <img
        src="../../../assets/images/products/cocacola_2.png"
        alt="Imagem dos produtos"
        class="card-products-img"
      />
    </div>
    <!-- produto numero 2 (neste caso sprite como exemplo) -->
    <div class="card">
      <div class="cicle" style="--clr: #02953a">
        <img
          src="../../../assets/images/logo/sprite_logo_2.png"
          alt="logotipo da coca"
          class="logo"
        />
      </div>

      <div class="content">
        <h2 class="card-title">Sites Institucionais</h2>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quod
          necessitatibus molestias. At expedita illo optio ipsa recusandae
          accusantium ut ipsam in a, minus
        </p>
        <a href="#">Explorar</a>
      </div>
      <img
        src="../../../assets/images/products/sprite.png"
        alt="Imagem dos produtos"
        class="card-products-img"
      />
    </div>
  </section>
</div>
